services:
  backend:
    build:
      context: ./backend
    ports:
      - '8000:8000'
  frontend:
    build:
      context: ./frontend
      args:
        - BACKEND_API_URL=http://backend:8000
    ports:
      - '3000:3000'
    environment:
      - BACKEND_API_URL=http://backend:8000
      - ORIGIN=http://localhost:3000
    depends_on:
      - backend
